<?xml version="1.0" encoding="utf-8"?>
<odoo>
        <!-- Dashboard Action -->
        <record id="action_connector_dashboard" model="ir.actions.act_window">
            <field name="name">Connector Dashboard</field>
            <field name="res_model">connector.background.processor</field>
            <field name="view_mode">list,form</field>
            <field name="context">{'search_default_pending': 1}</field>
            <field name="help" type="html">
                <p class="o_view_nocontent_smiling_face">
                    No background jobs found
                </p>
                <p>
                    Background jobs will appear here as connector operations are performed.
                </p>
            </field>
        </record>

        <!-- Main Menu -->
        <menuitem id="menu_connector_root" 
                  name="Connectors" 
                  sequence="50"/>

        <!-- Dashboard Menu -->
        <menuitem id="menu_connector_dashboard" 
                  name="Dashboard" 
                  parent="menu_connector_root" 
                  sequence="10"
                  action="action_connector_dashboard"/>

        <!-- Instances Menu -->
        <menuitem id="menu_connector_instances" 
                  name="Instances" 
                  parent="menu_connector_root" 
                  sequence="20"
                  action="action_connector_instance"/>

        <!-- Background Jobs Menu -->
        <menuitem id="menu_connector_background_jobs" 
                  name="Background Jobs" 
                  parent="menu_connector_root" 
                  sequence="30"
                  action="action_connector_background_processor"/>

        <!-- Queue Menu -->
        <menuitem id="menu_connector_queue" 
                  name="Queue" 
                  parent="menu_connector_root" 
                  sequence="40"
                  action="action_connector_queue"/>

        <!-- Logs Menu -->
        <menuitem id="menu_connector_logs" 
                  name="Logs" 
                  parent="menu_connector_root" 
                  sequence="50"
                  action="action_connector_log"/>

        <!-- Configuration Menu -->
        <menuitem id="menu_connector_config" 
                  name="Configuration" 
                  parent="menu_connector_root" 
                  sequence="100"/>

        <!-- Platforms Menu -->
        <menuitem id="menu_connector_platforms" 
                  name="Platforms" 
                  parent="menu_connector_config" 
                  sequence="10"
                  action="action_connector_platform"/>

        <!-- Mappings Menu -->
        <menuitem id="menu_connector_mappings" 
                  name="Data Mappings" 
                  parent="menu_connector_config" 
                  sequence="20"
                  action="action_connector_mapping"/>

        <!-- Settings Menu -->
        <menuitem id="menu_connector_settings" 
                  name="Settings" 
                  parent="menu_connector_config" 
                  sequence="30"
                  action="action_connector_config"/>

        <!-- Job Scheduler Menu -->
        <menuitem id="menu_connector_job_scheduler" 
                  name="Job Scheduler" 
                  parent="menu_connector_config" 
                  sequence="40"
                  action="action_connector_job_scheduler"/>

        <!-- Reporting Menu -->
        <menuitem id="menu_connector_reporting" 
                  name="Reporting" 
                  parent="menu_connector_root" 
                  sequence="200"/>

        <!-- Reports Menu -->
        <menuitem id="menu_connector_reports" 
                  name="Reports" 
                  parent="menu_connector_reporting" 
                  sequence="10"
                  action="action_connector_reports"/>

        <!-- Help Menu -->
        <menuitem id="menu_connector_help" 
                  name="Help" 
                  parent="menu_connector_root" 
                  sequence="300"/>

        <!-- Documentation Menu -->
        <menuitem id="menu_connector_docs" 
                  name="Documentation" 
                  parent="menu_connector_help" 
                  sequence="10"/>

        <!-- Support Menu -->
        <menuitem id="menu_connector_support" 
                  name="Support" 
                  parent="menu_connector_help" 
                  sequence="20"/>
    </odoo>
