
.hts_map > div {
  position: relative !important;
  //height: 50% !important;
  //width: 50% !important;
  background-color: rgb(229, 227, 223);
}

.o_field_fleet_maps{
    width: 100% !important;
}
