.o_kanban_record.o_kanban_color_1 {
    background-color: #f06050 !important;
}

.o_kanban_record.o_kanban_color_2 {
    background-color: #f4a460 !important;
}

.o_kanban_record.o_kanban_color_3 {
    background-color: #f7cd1f !important;
}

.o_kanban_record.o_kanban_color_4 {
    background-color: #5da5da !important;
}

.o_kanban_record.o_kanban_color_5 {
    background-color: #b276b2 !important;
}

.o_kanban_record.o_kanban_color_6 {
    background-color: #ff9da7 !important;
}

.o_kanban_record.o_kanban_color_7 {
    background-color: #60c0c0 !important;
}

.o_kanban_record.o_kanban_color_8 {
    background-color: #4d6dc3 !important;
}

.o_kanban_record.o_kanban_color_9 {
    background-color: #d45087 !important;
}
.o_kanban_record.o_kanban_color_10 {
    background-color: #9BD77B !important;
}
.o_kanban_record.o_kanban_color_11 {
    background-color: #C8B4E2 !important;
}