.o_kx_portal_recordings {
    .o_kx_view_switcher .o_kx_view_btn.active {
        background-color: var(--o-color-1, #714b67);
        border-color: var(--o-color-1, #714b67);
        color: #fff;
    }

    &.o_kx_view_kanban .o_kx_recording_list {
        display: none !important;
    }

    &.o_kx_view_list .o_kx_recording_kanban {
        display: none !important;
    }
}
